$color-primario: white;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
    
}
body {
    background-color: #fff4c7;
    background-image: linear-gradient(132deg, #fff4c7 0%, #7c6f25 100%);
    font-family: 'Mulish', sans-serif;
}
.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    height: 140px;
}
.header__img{
    width: 255px;
    height: 80px;
    margin: 20px;
}
.header__menu {
    margin-top: 15px;
    margin-right: 100px;
}
.header__menu ul {
    display: none;
    margin-right: -5px;
    width: 100px;
    position: absolute;
    list-style: none;
    text-align: right;
    font-size: 1.4rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-decoration: none;
}
.header__menu:hover ul, ul:hover {
    display: block;
}
.header__menu li {
    margin: 5px 0px;
}
.header__menu li a {
    color: $color-primario;
    text-decoration: none;
    margin: 10px 0px;
}
.header__menu li a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
}
.header__menu--profile {
    display: flex;
    width: 40px;
    margin: 10px 0px 0px 0px;
}
.header__menu--profile img {
    margin-right: 16px;
}
.header__menu--profile p {
    margin-top: 10px;
    font-size: 2.2rem;
    font-weight: bold;  
    color: rgb(0, 0, 0);
}
.buscador {
    height: 200px;
}
.buscador__titulo {
    margin-bottom: 30px;
    font-size: 2.6rem;
    font-weight: bold;
    color: rgb(0, 0, 0);
    text-align: center;
}
.input {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 50px;
    margin: 0 auto;
    padding: 0px 15px;
    border: 2px solid white;
    border-radius: 30px;
    color: rgb(0, 0, 0);
    font-family: 'Mulish', sans-serif;
    font-size: 1.6rem;
    background-color: #fff4c7;
    background-image: linear-gradient(132deg, #fffcef 0%, #c1af50 100%);    
    outline: none;
}
::placeholder {
    color: rgb(0, 0, 0);
    font-weight: bold;
}
.categories {
    position: absolute;
    margin-left: 35px;
    font-size: 2rem;
    font-weight: bold;
}
.carousel {
    position: relative;
    width: 100%;
    height: auto;
    padding-left: 30px;
    overflow: scroll;
}
.carousel__container {
    
    margin: 70px 0px;
    padding-bottom: 10px;
    white-space: nowrap;
}
.carousel-item {
    position: relative;
    display: inline-block;
    width: 200px;
    height: 250px;
    margin-right: 10px;
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    transition: 450ms all;
    transform-origin: center left;
}
/* Transiciones! */
.carousel-item:hover ~ .carousel-item{
    transform: translate3d(100px, 0, 0);
}
.carousel__container:hover .carousel-item {
    opacity: 0.3;
}
.carousel__container:hover .carousel-item:hover {
    transform: scale(1.5);
    opacity: 1;
}
.carousel::-webkit-scrollbar {
    display: none;
}
.carousel-item__img {
    width: 200px;
    height: 250px;
}
.carousel-item_details {
    position: absolute;
    padding: 15px;
    top: -10;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient(to top, rgba(0, 0, 0, 0.9) 0%, rgba(0, 0, 0, 0) 100%);
    font-size: 1rem;
    opacity: 1;
    transition: 450ms opacity;
}
.carousel-item_details:hover {
    opacity: 1;
}

.carousel-item__details--icon {
    width: 30px;
    height: 30px;
}

.carousel-item__details--title, .carousel-item__details--description  {
    color: #ffffff;
    font-size: 1.6rem;
}
.login {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0px 30px;
    min-height: calc(100vh - 200px);
}
.login__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: auto;
    min-height: 700px;
    padding: 60px 68px 50px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
}
.register__container {
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    width: 420px;
    min-height: 550px;
    padding: 60px 68px 30px;
    margin: 40px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 2px solid white;
    border-radius: 40px;
    color: white;
}
.login__container h2 {
    font-size: 2rem;
    color: black;
}
.register__container h2 {
    font-size: 2rem;
    color: black;
}
.login__container--form {
    display: flex;
    flex-direction: column;
}
.login__container--form label {
    font-size: 1.6rem;
    margin: 0px 20px 10px 10px;
}
.login__container--remember-me {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    color: white;
}
.login__container--remember-me a {
    color: white;
    font-size: 1.6rem;
    text-decoration: none;
}
    .login__container--remember-me a:hover {
    color: rgb(0, 0, 0);
    text-decoration: underline;
 }
#cbox1 {
    margin: 0px 5px;
}
.login__container--social-media > div {
    display: flex;
    margin-bottom: 10px;
    align-items: center;
    font-size: 1.6rem;
}
.login__container--social-media > div > img{
    margin: 5px 20px;
    cursor: pointer;
}
.login__container-register {
    font-size: 1.6rem;
}
.login__container-register a {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}
.login__container-register-1{
    text-align: center;

    font-size: 1.6rem;
}
.login__container-register-1 a {
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
    font-weight: bold;
    text-decoration: none;
}
.login__container-register-1 a:hover {
    text-decoration: underline;
    color: rgb(58, 52, 31);
}
.login__container-register a:hover {
    text-decoration: underline;
    color: rgb(58, 52, 31);
}
.input__login {
    height: 50px;
    margin: 12px;
    padding: 10px;
    border-left: 0px;
    border-top: 0px;
    border-right: 0px;
    border-bottom: 2px solid white;
    background-color: transparent;
    outline: none;
}
::placeholder {
    font-family: 'Mulish', sans-serif;
    text-transform: none;
    font-size: 1.6rem;
    color: white;
}
.button {
    height: 40px;
    margin: 25px 0px 35px 0px;
    border-radius: 25px;
    border: none;
    background-color: rgba(255, 255, 255, 0.1);
    color: rgb(0, 0, 0);
    cursor: pointer;
    font-family: 'Mulish', sans-serif;
    font-size: 1.7rem;
    font-weight: bold;
    letter-spacing: 1px;
}
.footer {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80px;
    width: 100%;
    background-color: black;
}
.footer a {
    color: white;
    cursor: pointer;
    font-size: 1.5rem;
    text-decoration: none;
    font-weight: bold;
}
.footer a:hover {
    font-weight: none;
    text-decoration: underline;
}
.inicio-de-sesion a {
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    color: black;
    text-decoration: none;
}
.inicio-de-sesion a:hover {
    text-decoration: underline;
    color: white;
}
.error {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 625px;
    width: 100%;
}
.img-error {
    width: 500px;
    height: 500px;
}

/* Media Queries */
@media only screen and (max-width: 600px) {
    .login__container, .register__container {
        background-color: transparent;
        border: none;
        padding: 0;
        width: 100%;
    }
    .footer {
        height: 90px;
        display: flex;
        align-content: flex-start;
        flex-direction: column;
    }
    .login__container-register, .login__container-register-1 {
        text-align: center;
    }
}